@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("Quicksand.woff2") format("woff2");
}

:root {
  --color: 0;
  --background: hsl(var(--color), 90%, 1%);
  --surface: hsl(var(--color), 14%, 7%);
  --text: hsl(var(--color), 95%, 93%);
  --hover: hsl(var(--color), 14%, 10%);
  --primary: hsl(var(--color), 95%, 88%);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
  color: var(--text);
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#title {
  color: var(--primary);
  cursor: pointer;
  font-size: 4rem;
  margin-bottom: 0;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

#content > div {
  background: var(--surface);
  border-radius: 1rem;
  padding: 0 1rem;
  width: min(40rem, 90vw);
  cursor: pointer;
}

#content > div:hover {
  background: var(--hover);
}

#content h3 {
  margin-bottom: -0.5rem;
}

#content p {
  opacity: 0.7;
}
